{% block head %}
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block page_content %}
<audio id="over_music">
    <source src="{{ url_for('static', filename='beepbeep.mp3') }}">
</audio>

<div>
    <form method="POST" action="{{ url_for('custom') }}" style="display:inline">
        <input name="time" class="time-input" placeholder="e.g. 12/30s/20m/2h">
        <input type="submit" class="startButton" value="START">
    </form>
    &nbsp;&nbsp;
    <a class="workButton" href="{{ url_for('minutes', num=25) }}">25 Minutes</a>
    <a class="restButton" href="{{ url_for('minutes', num=5) }}">5 Minutes</a>
    <a class="longrestButton" href="{{ url_for('minutes', num=15) }}">15 Minutes</a>
    <a class="helpButton" id="help-btn">?</a>

    {% for message in get_flashed_messages() %} 
    <div class="alert-info">
        {{ message }}
    </div>
    {% endfor %}

    <div class="usage" id="help-info">
        <h3>This is a timer.</h3><br>
        <p><b>The timer may be used in three ways:</b><br><br>
            <br><br>1, You can set the time via the input box(upper left corner)<br><br>
            2, You can click a button to set the time(25min, 15min, or 5min, useful for pomodoro) <br><br>
            3, You can edit the URL with the time intended.<br><br>
        </p>
    </div>
</div>

<div>
    {#% if True %}yay{% endif %#}
</div>

<div class="image-container">
    <img src="{{ url_for('static', filename='unimelb.png') }}" alt="University of Melbourne">
</div>
<div class="timer">
    <p id="time"></p>
</div>

<div class="quote">
    <p id="quote"></p>
	<i id="author"></i>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script>
    var Seconds = Number("{{ num }}");
</script>


<script type="text/javascript">
    function parseQuote(response)
    {
        document.getElementById("quote").innerHTML = response.quoteText;
        document.getElementById("author").innerHTML = response.quoteAuthor;
    }
</script>

<script type="text/javascript" src="http://api.forismatic.com/api/1.0/?method=getQuote&amp;format=jsonp&amp;lang=en&amp;jsonp=parseQuote" async></script>
<!-- Quote generator -->

{% endblock %}
